.Admin-navbar {
    color: black;
    position: relative; //aht burger-buttons absolute-position
    font-family: 'Flaticon', Arial, Helvetica, sans-serif;
    width: 100%;
    background-color:lightgray ;


    .burger-button {
        display: none; //flex
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 40px;
        cursor: pointer;
        background-color: gray;
        margin: 1px;
        padding: 8px;

        .bar {
            height: 3px;
            width: 100%;
            background-color: $cultured;
            border-radius: 10px;
            transition: all 1s ease;

        }

    }

    ul {
        width: 100%;
        display: flex;
        margin: auto;
        padding: 5px;
        list-style-type: none;
        box-shadow: 1px 1px 10px 1px #fff;
        justify-content: space-between;

        li {

            transition: all 0.5s ease;

            .active {
                color: $safety-orange-blaze-orange;
            }
        }

        a {
            display: block;
            text-decoration: none;
            color: $eerie-black;
            padding: 1rem;

            &:hover {
                color: $safety-orange-blaze-orange;
            }

            .active {
                color: $safety-orange-blaze-orange;
            }
        }


    }

}

nav.sticky {
    position: sticky;
    top: 0;
}

.Navbar.sticky {
    background-color: white;
}

@media screen and (max-width:800px) {

    .Admin-navbar {
        background-color: lightgray;
        width: 100%;
        box-shadow: 1px 1px 10px 1px #fff;
        padding: 1em 1em;
        

        .burger-button {
            display: flex;
            // width:5%;
        }

        .admin-navbar-container {
            height: 0;
            // height: 300px;
            width: 100%;
            overflow: hidden;
            transition: height 1s ease;

            &.active {
                height: auto;
            }
        }

        ul {
            width: 100%;
            flex-direction: column;
            height: auto;
            gap:1px;



                li {
                    text-align: center;
                    background-color:$independence ;
                    &:hover{
                        background-color: $safety-orange-blaze-orange;
                        color:$cultured;
                    }

                    .active {
                        background-color:$safety-orange-blaze-orange ;
                        color:$cultured;
                    }



                    a {
                        color:$cultured;
            
                        &:hover {
                            color: $cultured;
                        }
            
                        .active {
                            color:$cultured;
                            background-color: $safety-orange-blaze-orange;
                        }
                    }
                    
            }

        }


        .logout{
            width: 100%;
            height: 100%;
        }

    }

}