* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* CSS HEX */
$eerie-black: #222222ff;
$star-command-blue: #337ab7ff;
$onyx: #343742ff;
$independence: #474b5aff;
$dim-gray: #676a73ff;
$sonic-silver: #777777ff;
$gainsboro: #d4dae3ff;
$platinum: #e5e5e5ff;
$cultured: #f8f8faff;
$safety-orange-blaze-orange: #ff6600ff;
$reddish:rgb(225, 43, 43);

$trueFont: "Flaticon";
$iconFont:"fontawesome";

.App{
  font-family: "Flaticon", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "fontawesome";
  src: url("./scss/Fonts/fontawesome-webfont.eot");
  src: url("./scss/Fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("./scss/Fonts/fontawesome-webfont.woff") format("woff"),
    url("./scss/Fonts/fontawesome-webfont.ttf") format("truetype"),
    url("./scss/Fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}



button {
  color: white;
  font-size: 20px;
  background-color: $safety-orange-blaze-orange;
  padding: 8px 12px;
  border: none;
  transition: ease 0.5s;

}
button:hover{
  background-color: $cultured;
  color:$safety-orange-blaze-orange;
  border: $safety-orange-blaze-orange;
  cursor: pointer;
}


.breadcrumbsdiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 20em 50px 20em;
  align-items: center;

  background-color: $platinum;

  .breadcrumbs{
      ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          text-align: center;
      }
      
      ul > li {
          display: inline-block;
          vertical-align: top;
          font-size: 15px;
          line-height: 1;
          color: $safety-orange-blaze-orange;
      }
      
      ul > li:not(:last-child)::after {
          content: 'â¯';
          color: #789;
      }
      
      
      ul > li > a {
          text-transform: uppercase;
          text-decoration: none;
          color: #789;
          font-size: 15px;
          line-height: 1;
      }
      
      ul > li > a:hover {
          text-decoration: underline;
      }

      ul > li > .current{
          color:$safety-orange-blaze-orange;
      }
  }
}




// PUBLIC SCSS LINK
@import './scss/Header.scss';
@import './scss/Navbar.scss';
@import './scss/Footer.scss';
@import './scss/SearchInput.scss';
@import './scss/Forside.scss';
@import './scss/Kontaktos.scss';
@import './scss/Slider.scss';
@import './scss/Omos.scss';
@import './scss/VoresService.scss';
@import './scss/VoresKunder.scss';
@import './scss/VoresTeam.scss';
@import './scss/SidsteNyt.scss';
@import './scss/Nyheder.scss';
@import './scss/ShowNyhed.scss';

// ADMIN SCSS LINK
@import './scss/Admin/Admin.scss';
@import './scss/Admin/Login.scss';
@import './scss/Admin/Loader.scss';
@import './scss/Admin/ErrorMessage.scss';

// Fonts
@import './scss/Fonts/_flaticon';