.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: black;
    position: absolute; //aht burger-buttons absolute-position
    padding: 0 1rem;
    font-family: 'Flaticon';
    z-index: 10;
    border-radius: rgba(255, 255, 255, 0.9);
    // box-shadow: 1px 1px 10px 1px #fff;
    margin-top: -25px;
    top: 100px;
    width: 100%;



    .burger-button {
        display: none; //flex
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;

        .bar {
            height: 3px;
            width: 100%;
            background-color: black;
            border-radius: 10px;
            transition: all 1s ease;

        }

        &.open .bar1 {
            transform: rotate(-45deg) translate(-5px, 5px);
            // transform-origin:center center ;
        }

        &.open .bar2 {
            opacity: 0;
        }

        &.open .bar3 {
            transform: rotate(45deg) translate(-8px, -8px);
            // transform-origin: center center;
        }

    }

    ul {
        background-color: $cultured;
        width: auto;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        box-shadow: 1px 1px 10px 1px #fff;

        li {

            transition: all 0.5s ease;

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);

            }

            .active {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        a {
            display: block;
            text-decoration: none;
            color: black;
            padding: 1rem;
        }

        button {
            margin-top: 10px;
            padding: 0.4rem;
        }
    }

}

nav.sticky{
    position: sticky;
    top:0;
}

@media (max-width:800px) {

    .Navbar {
        flex-direction: column;
        align-items: flex-start;

        .burger-button {
            display: flex;
        }

        .navbar-container {
            height: 0;
            // height: 300px;
            width: 100%;
            overflow: hidden;
            transition: height 1s ease;

            &.active {
                height: auto;
            }
        }

        ul {
            width: 100%;
            flex-direction: column;
            height: auto;

            li {
                text-align: center;
            }
        }

    }

}