.Navbar {
    color: black;
    position: absolute; //aht burger-buttons absolute-position
    padding: 0 1rem;
    font-family: 'Flaticon';
    z-index: 10;
    border-radius: rgba(255, 255, 255, 0.9);
    // box-shadow: 1px 1px 10px 1px #fff;
    margin-top: -25px;
    top: 100px;
    width: 100%;



    .burger-button {
        display: none; //flex
        position: absolute;
        top: 0.75rem;
        left: 1rem;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;

        .bar {
            height: 3px;
            width: 100%;
            background-color: black;
            border-radius: 10px;
            transition: all 1s ease;

        }

        &.open .bar1 {
            transform: rotate(-45deg) translate(-5px, 5px);
            // transform-origin:center center ;
        }

        &.open .bar2 {
            opacity: 0;
        }

        &.open .bar3 {
            transform: rotate(45deg) translate(-8px, -8px);
            // transform-origin: center center;
        }

    }

    ul {
        background-color: $cultured;
        width: 80%;
        display: flex;
        margin: auto;
        padding: 5px;
        list-style-type: none;
        box-shadow: 1px 1px 10px 1px #fff;
        justify-content: space-between;


        div {
            width:70%;
            display: flex;
            list-style-type: none;
            box-shadow: 1px 1px 10px 1px #fff;
            justify-content: flex-start;
        }

        li {

            transition: all 0.5s ease;

            .active {
                color: $safety-orange-blaze-orange;
            }
        }

        a {
            display: block;
            text-decoration: none;
            color: $eerie-black;
            padding: 1rem;

            &:hover {
                color: $safety-orange-blaze-orange;
            }

            .active {
                color: $safety-orange-blaze-orange;
            }
        }



        button {
            margin-top: 10px;
            padding: 0.4rem;
        }
    }

}

nav.sticky {
    position: sticky;
    top: 0;
}

.Navbar.sticky {
    background-color: white;
}

@media (max-width:800px) {

    .Navbar {
        flex-direction: column;
        align-items: flex-start;

        .burger-button {
            display: flex;
        }

        .navbar-container {
            height: 0;
            // height: 300px;
            width: 100%;
            overflow: hidden;
            transition: height 1s ease;

            &.active {
                height: auto;
            }
        }

        ul {
            width: 100%;
            flex-direction: column;
            height: auto;
            gap:1px;




                li {
                    text-align: center;
                    background-color:$independence ;
                    &:hover{
                        background-color: $safety-orange-blaze-orange;
                        color:$cultured;
                    }

                    .active {
                        background-color:$safety-orange-blaze-orange ;
                        color:$cultured;
                    }



                    a {
                        color:$cultured;
            
                        &:hover {
                            color: $cultured;
                        }
            
                        .active {
                            color:$cultured;
                            background-color: $safety-orange-blaze-orange;
                        }
                    }
                    
            }

        }

    }

}