.wrapper {
    width: 70%;
    padding-left: calc(5em * .5);
    padding-right: calc(5em * .5);
    margin-left: auto;
    margin-right: auto;
}

.wrapper>* {
    padding-left: calc(1.25rem * .5);
    padding-right: calc(1.25rem * .5);
}

.nyheder {
    height: auto;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;

    .newsWrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 50px;
        justify-content: center;
        margin-right: 30px;

        .newsElement {
            padding-left: calc(1.25rem * .5);
            padding-right: calc(1.25rem * .5);
            width: 50%;
            margin-top: 2em;
        }
    }

    .newsBox {
        border-radius: 10px;
        overflow: hidden;
        transition: ease 1s;
        background-color: $cultured;


        img {
            width: 100%;
        }

        .SidsteNytText {
            padding: 5px;

            p {
                padding: 10px;
            }

        }

        .SidsteNytOverlay {
            position: relative;

            .bookmark {
                position: absolute;
                top: 20px;
                left: 20px;

                .bookmarkleft {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 80px;
                    width: 15px;
                    border-top-left-radius: 5px;
                    border-left: 30px solid $safety-orange-blaze-orange;
                    border-bottom: 10px solid transparent;
                }

                .bookmarkright {
                    position: absolute;
                    left: 28px;
                    top: 0;
                    height: 80px;
                    width: 20px;
                    border-top-right-radius: 5px;
                    border-right: 30px solid $safety-orange-blaze-orange;
                    border-bottom: 10px solid transparent;
                }

                .bookmarkday {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 58px;
                    text-align: center;
                    font-size: 1.95rem;
                    color: #fff;
                }

                .bookmarkmonth {
                    position: absolute;
                    top: 35px;
                    left: 0;
                    width: 58px;
                    text-align: center;
                    font-size: 1.1rem;
                    color: #fff;
                }
            }
        }
    }

    .newsBox:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    aside {
        width: 33%;
        margin-top: 7em;

        .asidecomponents {
            flex-direction: row;
            display: flex;
            margin: 10px 0 10px 0;
        }

        img {
            width: 60px;
            height: 60px;
            float: left;
            object-fit: cover;
            margin-right: 1em;
        }

        .date {
            font-size: 10px;
            display: flex;
            flex-direction: row;
        }



    }
}

.normaltext {
    text-decoration: none;
    color: $eerie-black;
}

@media screen and (max-width:800px) {
    .wrapper {
        width: 100%;
        padding: 0;
    }

    .nyheder {
        flex-direction: column;

        .newsWrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 50px;
            justify-content: center;
            margin-right: 30px;

            .newsElement {
                padding-left: calc(1.25rem * .5);
                padding-right: calc(1.25rem * .5);
                width: 100%;
                margin-top: 2em;
            }
        }
    }


    .DontBeSeen {
        display: none;
    }

    .BeSeen {
        display: block;
    }
}