.Omstrøm{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right:20% ;
    text-align: center;

    button{
        font-size: 15px;
    }

}