.banner {
    // display: flex;
    width: 100%;
    text-align: center;
    background-image: url(../layout/assets/img/pinwheels-gfdc541706_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-color: black;
    padding-top:100px;
    color:$cultured;
}

.text{
    padding-top: 30px;
    padding-bottom: 50px;
    h2 {
        font-family: sans-serif;
        color: $cultured;
        mix-blend-mode: difference;
    }
}



.cardview{
    width: 70%;
    height: 300px;
    margin:auto;
    margin-top: -100px;
    // background-color: gold;
    .card {
        width: 100%;
        background-color: $cultured;
        color: $dim-gray;
        transition: 0.3s;
        text-align: center;
        height: 100%;
        box-shadow: none;
        border:none;
        margin-top: 110px;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        border: none;
      }
    img{
        border-radius: 50%;
        border:3px solid $cultured;
        margin-top: -150px;
    }
    h3{
        color:$reddish;
        margin-top:10px;
    }

    .title{
        margin:10px;
        color: $safety-orange-blaze-orange;
    }
}

.whitecoloumn{
    width: 100%;
    height: 200px;
    background-color:$platinum;
}

@media screen and (max-width:800px) {
    .cardview{
        width: 90%;
        height: 400px;
        margin:auto;
        margin-top: 20px;
        overflow:hidden;
    }
}