.voresteam {
  padding-top: 100px;
}

.headline {
  margin: auto;
  text-align: center;

  h2 {
    color: $eerie-black;
  }
}

.team {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin: auto;
  width: 80%;
  margin-top: 50px;

  .teamMember {
    width: 17%;
    height: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: auto;

    img{
      min-width:270px ;
    }

  }

  .teamMember:hover .overlay {
    bottom: 0;
    height: 20%;
  }

  .overlay {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    background-color: $safety-orange-blaze-orange;
    width: 100%;
    height: 0;
    transition: .5s ease;
    text-align: center;
  }

  h3 {
    color: $cultured;
  }

  p {
    color: $cultured;
  }

  .triangleLeftA {
    width: 0;
    height: 0;
    border-left: 0 solid $safety-orange-blaze-orange;
    border-right: 260px solid transparent;
    border-bottom: 100px solid $safety-orange-blaze-orange;
    position: absolute;
    margin-top: -100px;

  }

  .triangleLeftB {
    width: 0;
    height: 0;
    border-left: 400px solid transparent;
    border-right: 0 solid $safety-orange-blaze-orange;
    border-bottom: 50px solid $safety-orange-blaze-orange;
    position: absolute;
    right: 0;
    margin-top: -50px;
  }

  .teamSocial {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 20%;
    color: $cultured;
  }

}

@media screen and (max-width:800px) {
  .team {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    margin: auto;
    width: 100%;
    margin-top: 50px;

    .teamMember {
      width: 45%;
      height: auto;
      height: auto;
      position: relative;
      overflow: hidden;
      margin: auto;
      justify-content: center;
    }
    
  }
  }

  @media screen and (max-width:425px){
    .team {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0;
      margin: auto;
      width: 100%;
      margin-top: 50px;
  
      .teamMember {
        width: 100%;
        height: auto;
        height: auto;
        position: relative;
        overflow: hidden;
        margin: auto;
        justify-content: center;


        img{
          left:0;
          right: 0;
        }
      }
      
    }
  }